/* .img-gradient{
  position:relative;
  display:inline-block;
} */

.img-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* display:inline-block; */

  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  @apply btn btn-circle mr-1 md:mr-6 lg:mr-9 flex items-center justify-center ;
}
.slick-arrow.slick-next {
  /* background-color: green; */
  right: 0;
  @apply md:mr-1 lg:mr-1;
}
.slick-arrow.slick-prev {
  left: 0;
  z-index: 1;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
